* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --prem-color: hsl(180, 66%, 49%);
  --svg-background: hsl(257, 27%, 26%);
  --prem-font-color: hsl(257, 7%, 63%);
  --secondary-font-color: hsl(0, 0%, 75%);
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
  text-transform: capitalize;
}

/* start of the header */
.header {
  margin: 20px 80px;
}
@media (max-width: 767.98px) {
  .header {
    margin: 10px 40px;
  }
}
@media (max-width: 675.98px) {
  .header {
    margin: 10px 20px;
  }
}

.header {
  display: flex;
  align-items: start;
  padding: 30px 0;
  min-height: 100px;
}

@media (max-width: 675.98px) {
  .header {
    padding: 15px;
    min-height: 25px;
    display: block;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header .navbar .menu {
  display: flex;
  margin-left: 25px;
}
@media (max-width: 675.98px) {
  .navbar {
    display: none;
  } /* for the toggle funtion in the main.js  */
  .showMenu {
    display: flex;
    flex-direction: column;
    background-color: var(--svg-background);
    border-radius: 6px;
    align-items: center;
  }
  .header .showMenu .menu {
    display: block;
    text-align: center;
    margin: 0;
  }
}

.header .navbar .menu li {
  margin-left: 20px;
  font-weight: 700;
  font-size: 0.8em;
}
.header .navbar .menu li a {
  cursor: pointer;
  transition: 0.3s;
  color: var(--prem-font-color);
  text-transform: capitalize;
}
.header .navbar .menu li a:hover {
  color: #232126;
}
.header .navbar ul + div {
  display: flex;
}

@media (max-width: 675.98px) {
  .header .navbar .menu .menuItem {
    color: white;
  }

  .header .navbar .menu li {
    margin: 0;
    display: block;
    margin-bottom: 25px;
  }

  .header .navbar .menu li:first-child {
    margin-top: 30px;
  }
  .header .navbar ul + div {
    flex-direction: column;
    width: 80%;
    align-items: center;
    border-top: 1px solid var(--prem-font-color);
  }
  .header .navbar div .login {
    margin: 20px;
    color: white;
    text-align: center;
  }
  .header .navbar div .signup {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 10px;
  }
}
.header .login {
  padding: 0 20px;
  font-size: 0.8em;
  font-weight: 700;
  color: var(--prem-font-color);
  cursor: pointer;
  text-transform: capitalize;
}
.header .signup {
  background: var(--prem-color);
  border-radius: 25px;
  cursor: pointer;
  padding: 8px 20px;
  font-size: 0.8em;
  font-weight: 700;
  color: white;
  transition: 0.3s;
  margin-top: -10px;
  text-transform: capitalize;
}
.header div .signup:hover {
  opacity: 0.6;
}

.hamburger {
  display: none;
}

@media (max-width: 675.98px) {
  .hamburger {
    display: block;
    position: fixed;
    top: 1.8rem;
    right: 1.8em;
    padding: 4px;
    cursor: pointer;
    width: 45px;
    height: 40px;
  }
  .bar {
    height: 5px;
    width: 100%;
    background-color: var(--prem-font-color);
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  #bar1 {
    transform: translateY(-4px);
  }

  #bar3 {
    transform: translateY(4px);
  }
  .change {
    display: block;
  }
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  .change #bar2 {
    opacity: 0;
  }
  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }
}

/* end of the header */

/* start hero  */
.hero {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  align-items: center;
}
.hero .content-box {
  margin-left: 80px;
  margin-bottom: 50px;
  text-transform: capitalize;
}

.hero .content-box h1 {
  font-size: 4rem;
  line-height: 1.1;
  color: hsl(260, 8%, 14%);
}

.hero .content-box p {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--prem-font-color);
  margin-bottom: 30px;
  line-height: 1.6;
}
.hero .content-box a {
  color: white;
  background-color: var(--prem-color);
  border-radius: 25px;
  padding: 10px 30px;
  font-weight: 700;
  font-size: 0.9rem;
}

/* end of hero  */
/* start of feature */
.feature {
  height: 100vh;
  background-color: #ddd;
}
/* end of feature */
