* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --prem-color: hsl(180, 66%, 49%);
  --svg-background: hsl(257, 27%, 26%);
  --prem-font-color: hsl(257, 7%, 63%);
  --secondary-font-color: hsl(0, 0%, 75%);
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.container {
  margin: 15px 80px;
}
@media (max-width: 767.98px) {
  .container {
    margin: 10px 40px;
  }
}
@media (max-width: 675.98px) {
  .container {
    margin: 10px 20px;
  }
}

.header {
  display: flex;
  align-items: start;
  padding: 30px 0;
  min-height: 100px;
}

@media (max-width: 675.98px) {
  .header {
    padding: 15px;
    min-height: 25px;
    display: block;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header .navbar .menu {
  display: flex;
  margin-left: 25px;
}
@media (max-width: 675.98px) {
  .navbar {
    display: none;
  }
}

.header .navbar .menu .menuItem {
  margin-left: 20px;
  color: var(--prem-font-color);
  text-transform: capitalize;
  font-weight: 700;
  font-size: 0.8em;
  cursor: pointer;
  transition: 0.3s;
}

.header .navbar .menu .menuItem:hover {
  color: #232126;
}
.header .navbar div {
  display: flex;
  align-items: start;
  position: relative;
}

.header .login {
  padding: 0 15px;
  font-size: 0.8em;
  font-weight: 700;
  color: var(--prem-font-color);
  cursor: pointer;
}
.header .signup {
  background: var(--prem-color);
  border-radius: 25px;
  cursor: pointer;
  padding: 8px 15px;
  font-size: 0.8em;
  font-weight: 700;
  color: white;
  transition: 0.3s;
  position: absolute;
  top: -9px;
}
.header div .signup:hover {
  opacity: 0.6;
}

.hamburger {
  display: none;
}

@media (max-width: 675.98px) {
  .hamburger {
    display: block;
    position: fixed;
    top: 1.5rem;
    right: 1rem;
    padding: 4px;
    /* margin: 30px 0 20px 20px; */
    cursor: pointer;
    width: 45px;
    height: 40px;
  }
  .bar {
    height: 5px;
    width: 100%;
    background-color: var(--prem-font-color);
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  #bar1 {
    transform: translateY(-4px);
  }

  #bar3 {
    transform: translateY(4px);
  }
  .change {
    display: block;
  }
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  .change #bar2 {
    opacity: 0;
  }
  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }
}

/* for the toggle funtion in the main.js  */
.showMenu {
  display: block;
}
